<div class="row mx-3">
  {{!-- author listing --}}
  <div class={{if this.currentUser.isViewing "d-none d-md-block col-md-5" "col-12 col-md-5"}}>
    <div class="row">
      <div class="col">
        <Input @type="text" @value={{@queryParamsObj.query}} placeholder="Filter Posts" aria-label="Filter Posts" autofocus={{true}} {{on "keyup" this.resetPage}} class="form-control" />
      </div>
      <div class="col-auto">  
        <button type="button" class="btn btn-primary" {{on "click" @createAuthor}}>Create</button>
      </div>
    </div>
    <div class="row">
      <div class="col">      
        <table class="table">
          <thead>
            <tr>
              <th>Authors</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.pagedContent as |author|}}
              <tr>
                <td>
                  <LinkTo @route="authors.author" @model={{author}}>
                    &bull; {{author.name}}
                  </LinkTo>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <PageNumbers @content={{this.pagedContent}} />
      </div>
    </div>
  </div>

  {{!-- author content --}}
  <div class={{if this.currentUser.isViewing "col-12 col-md-7" "d-none d-md-block col-md-7" }}>
    {{yield}}
  </div>
</div>
