<BlogAuthorEdit @author={{@author}} @saveAuthor={{@saveAuthor}} @deleteAuthor={{@deleteAuthor}} />
<div class="row g-0">
  <div class="col border-bottom pb-2"><strong>Posts by {{@author.name}}:</strong></div>
</div>
<ul>
  {{#each @author.posts as |post|}}
    <LinkTo @route="posts.post" @model={{post}}>
      <li>{{post.title}}</li>
    </LinkTo>
  {{/each}}
</ul>
