{{#if this.currentUser.isEditing}}
  <div class="row pb-3">
    <div class="col"><Input @type="text" @value={{@post.title}} class="form-control" placeholder="Post title" /></div>
    <div class="col-auto"><button type="button" class="btn btn-secondary d-sm-none" {{on "click" @goBack}}>Back</button><button type="button" class="btn btn-success" {{on "click" this.doneEditing}}>Done</button></div>  
  </div>
  <p>
    <NativeSelectBox @value={{@post.author}} @onSelect={{fn (mut @post.author)}} class="form-control" placeholder="Post author" as |sb|>
      <sb.Option @value=""></sb.Option>
      {{#each @authors as |author|}}
        <sb.Option @value={{author}}>{{author.name}}</sb.Option>
      {{/each}}
    </NativeSelectBox>
  </p>
  <p><Input @type="text" @value={{@post.excerpt}} class="form-control" placeholder="Post exercept" /></p>
  <p><MarkdownEditor @value={{@post.body}} @placeholder="Post content" @rows="5" /></p>

  <p><button type="button" class="btn btn-danger" {{on "click" @deletePost}}>Delete</button></p>
{{else}}
  <div class="row">
    <div class="col"><h2>{{@post.title}}</h2></div>
    <div class="col-auto"><button type="button" class="btn btn-secondary d-sm-none" {{on "click" @goBack}}>Back</button><button type="button" class="btn btn-primary" {{on "click" this.edit}}>Edit</button></div>  
  </div>
{{/if}}
