<BlogPostEdit @post={{@post}} @authors={{@authors}} @goBack={{@goBack}} @savePost={{@savePost}} @deletePost={{@deletePost}} />
{{#if this.currentUser.isEditing}}
  <h2>{{@post.title}}</h2>
{{/if}}
<div class="row g-0">
  <div class="col border-bottom pb-2"><strong>by {{@post.authorName}} <small class="muted">({{format-date @post.date}})</small></strong></div>
</div>

<div class="intro">
  {{format-markdown @post.excerpt}}
</div>

<div class="below-the-fold">
  {{format-markdown @post.body}}
</div>
